._video.svelte-6f3vn9 button.svelte-6f3vn9{aspect-ratio:var(--aspect-x) /var(--aspect-y)}._overlay.svelte-6f3vn9.svelte-6f3vn9:after{background-color:#00000080;content:"";top:0;right:0;bottom:0;left:0;position:absolute}
